In [9]:
import json
import pandas as pd


data = json.load(open('sample2.json'))

df = pd.Series(data["address"])

print(df)

streetAddress          101
city             San Diego
state                   CA
dtype: object

In [10]:
import json
import pandas as pd


data = json.load(open('sample2.json'))

df = pd.DataFrame(data["phoneNumbers"])

print(df)

   type      number
0  home  7349282382

In [11]:
import json
import pandas as pd


data = pd.read_excel('hockey.xlsx')

print(data)

    Unnamed: 0  Unnamed: 1                                         Unnamed: 2  \
0          NaN         NaN                                                NaN
1          NaN         NaN                                                NaN
2          NaN         NaN                                                NaN
3          NaN         NaN                                    Downloaded From
4          NaN         NaN                              Sample Data for Excel
5          NaN         NaN                                                NaN
6          NaN         NaN                                  Related tutorials
7          NaN         NaN                                 Named Excel Tables
8          NaN         NaN                                    Data Entry Tips
9          NaN         NaN                            More Excel Sample Files
10         NaN         NaN                                                NaN
11         NaN         NaN                                              Notes
12         NaN         NaN  Olympic Hockey Teams 2018 - Canada and USA - d...
13         NaN         NaN                This data was used in my blog post:

                     Unnamed: 3
0                           NaN
1                           NaN
2                           NaN
3                           NaN
4                           NaN
5                           NaN
6                           NaN
7                           NaN
8                           NaN
9                           NaN
10                          NaN
11                          NaN
12                          NaN
13  Hockey Player Data Analysis