###  **Today's Topic**

- Python Functions, Positional and Keywords Arguments
- Python Lambda Functions
- Map Funciton in Python
- Filter Function in Python
- Python List Comprehension
- String Formatting in Python
- Python Iterables vs Iterators
- How to import all important Python Libraries using PyForest



###  **Resources** 

1.  https://www.w3schools.com/python/python_functions.asp
2.  https://www.w3schools.com/python/python_lambda.asp
3.  https://www.geeksforgeeks.org/python-map-function/
4.  https://www.programiz.com/python-programming/methods/built-in/map
5.  https://www.w3schools.com/python/ref_func_map.asp
6.  https://www.w3schools.com/python/ref_func_filter.asp
7.  https://www.geeksforgeeks.org/filter-in-python/
8.  https://www.programiz.com/python-programming/methods/built-in/filter
9.  https://www.w3schools.com/python/python_lists_comprehension.asp
10. https://www.programiz.com/python-programming/list-comprehension
11. https://www.geeksforgeeks.org/python-list-comprehension/

In [10]:
# Basic Custom Function

def func(str):
    print(str+ " World")



func("Hello")
func("Hi")

Hello World
Hi World

In [11]:

#   Function if parameters are unknown & need to access particular
#   positioned parameter


def func(*args):
    print("The value of second parameter is: "+ args[1])


func("1", "2", "3")

The value of second parameter is: 2

In [12]:
#  Keyword arguments: key = value 
#  If keyword arguments are used then the position of
#  the parameters doesn't  matter

def func(arg3, arg1, arg2):
    print("Smallest number is: "+ arg1)

func(arg1 = "One", arg2 = "Two", arg3 = "Three")

Smallest number is: One

In [13]:
#  If the argument is known then can be accessed using **Parameter

def func(**args):
    print("Value of Two: "+ args["Two"])


func(Three = "3", One = "1", Two = "2")

Value of Two: 2

In [14]:
#  Default value argument: If argument is null then default 
#  value will be passed
                             
def func(arg = "Two"):
    print("The value is: "+ arg)

func("One")
func()
func("Four")

The value is: One
The value is: Two
The value is: Four

In [15]:
# Recursion 

def factorial(n):
    if(n<1):
        return 1
    else:
        return n*factorial(n-1)


print("Factorial of 10 is: ")
print(factorial(10))

Factorial of 10 is:
3628800

In [16]:
#  Lambda Function

x = lambda a: a+ 10

print(x(5))

15

In [17]:
#  Lambda of three arguments

x = lambda a, b, c  : a + b + c
print(x(5, 6, 2))

13

In [18]:
#  Lamda in function

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [19]:
#  map(fun, iter)
#  

def square(n):
    return n*n

numbers = (1,2,3,4)

result = map(square, numbers)

print(list(result))

[1, 4, 9, 16]

In [20]:
#  Using lambda in map()

squares = [1, 4, 9, 16]
cubes = [1, 8, 27, 64]

numbers = map(lambda x, y: y/x , squares, cubes)

print(list(numbers))

[1.0, 2.0, 3.0, 4.0]

In [21]:
#  map() can identify list of string individually


str = ['Ironman', 'Superman', 'Batman', 'Spiderman']

s = list(map(list,str))

print(s)

[['I', 'r', 'o', 'n', 'm', 'a', 'n'], ['S', 'u', 'p', 'e', 'r', 'm', 'a', 'n'], ['B', 'a', 't', 'm', 'a', 'n'], ['S', 'p', 'i', 'd', 'e', 'r', 'm', 'a', 'n']]

In [22]:
#  Determining length of each string of a list of string using map()

def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(list(x))

[5, 6, 6]

In [23]:
#  Filtering an Array using filter()
#  filter(function, iterable)


array =  [3, 100, 4, 9, 10, 15, 18, 22]

def findEven(x):
    if(x%2==0):
        return True
    else:
        return False

evenNums =  filter(findEven, array)

for x in evenNums:
    print(x)

100
4
10
18
22

In [24]:
#  List Comprehension
#  newlist = [expression for item in iterable if condition == True]


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x+"a" for x in fruits if "a" in x]

print(newlist)

['applea', 'bananaa', 'mangoa']

In [25]:
price = 49.128
txt = "The price is {} dollars"
print(txt.format(price))

txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.128 dollars
The price is 49.13 dollars

In [26]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [27]:
#  Installing Pyforest without importing package code works fine

data = sns.load_dataset('titanic')

data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True